#email-form {
  text-align: center;
}
#email-form1 {
  text-align: center;
}
.main-image {
  display: inline-block;
  width: 60%;
  margin: 0 20%;
  padding: 2rem 0;
}
.section {
  height: fit-content;
}

.navbar {
  display: block;
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    background: white;
}

.w-container {
  max-width: none;
}

.text-block-custom {
  margin-top: 2rem;
}

.form-custom {
  margin-bottom: 1rem;
}
